<!DOCTYPE html>
<html>
<head>
    <title>Index Page</title>
</head>
<body>
<form action="{{request.path}}" method="post">
    <label for="username">Username</label><br>
    <input type="text" name="username" placeholder="Username"><br>
    <label for="email">Email</label><br>
    <input type="text" name="email" placeholder="Email"><br>
    <label for="phone">Phone number</label><br>
    <input type="text" name="phone" placeholder="Phone number"><br>
    <input type="submit" value="Submit"/>
</form>
</body>
</html>