<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
<h3>Students - Flask Sqlalchemy example</h3>
<form action="{{request.path}}"method="post">
<label for ="name">Name</label><br>
<input type="text" name="name" placeholder="Name" /><br>
<label for ="city">City</label><br>
<input type="text" name="city" placeholder="City" /><br>
<label for ="addr">Address</label><br>
<input type="text" name="addr" placeholder="Address" /><br>
 <label for ="pin">Pin</label><br>
<input type="text" name="pin" placeholder="Pin" /><br>
<input type="submit" value="Submit"/>
</form>
</body>
</html>